@import "tailwindcss";

@theme {
  --font-inter: "Inter";
  --font-garamond: "EB Garamond";
}

@media (min-width: 640px) {
  .mobile-buttons-container {
    display: none;
  }
}

.mobile-buttons-container {
  @apply flex flex-col gap-2 items-center p-10;
}

.btn {
  @apply flex items-center justify-between w-full  px-5  rounded-full text-white font-semibold text-[15px];
}

.btn .icon {
  @apply flex items-center justify-center h-13  -ml-[50px]; 
}

.btn .arrow {
  @apply ml-20; 
}

.btn.black {
  @apply bg-[#4B0082];
}

.btn.green {
  background-color: #25d366;  
}

